@mixin font-face($name, $style, $weight, $path) {
	$format: "truetype";
	$src: url(quote($path)) format(quote($format));

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}