
progress[value] {
	appearance: none;
	border: 1px solid black;
	padding: 2px;
    width: 100%;
	height: 1.4em;
	margin: 5px 0px;
	color: #fff;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
	position: relative;
	box-sizing: border-box;
}

.svg-logo-one div .bar-before, .svg-logo-two div .bar-before {
	font-size: 1.4em;
	text-align: center;
	margin-top: 5px;
	height: auto
}

progress[value]::-webkit-progress-bar {
    background: rgba(0, 0, 0, 0);
	border-radius: 10px;
}

progress[value]::-webkit-progress-value {
	position: relative;
	border-right: 1px solid black;
	border-top-left-radius:10px;
	border-bottom-left-radius: 10px;
	background: #fff;
}

progress[value]::-moz-progress-bar {
	position: relative;
	border-right: 1px solid black;
	border-top-left-radius:10px;
	border-bottom-left-radius: 10px;
	background: #fff;
}

@media all and (max-width: 767px) and (min-width: 577px) {
	.svg-logo-one div .bar-before, .svg-logo-two div .bar-before {
	font-size: 1.3em;
	}
	progress[value] {
		height: 1.3em;
	}
}
@media all and (max-width: 576px) {
	.svg-logo-one div .bar-before, .svg-logo-two div .bar-before {
	font-size: 1.2em;
	}
	progress[value] {
		height: 1.2em;
	}
}