.slider {
	position: relative;
	width: 70%;
	display: flex;
	align-items: center;
	margin: auto;
	margin-bottom: 5%;
	text-align: center;
	z-index: 0;
	flex: 1;
	.slider__range {
		-webkit-appearance: none;
		appearance: none;
		outline: none;
		padding: 0;
		box-sizing: border-box;
		background: rgba(0, 0, 0, 0.2);
		background-image: linear-gradient(white, white);
		background-image: -webkit-linear-gradient(white, white);
		background-size: 0% 100%;
		background-repeat: no-repeat;
		width: 100%;
		height: 1.4em;
		border-radius: 10px;
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			width: 25px;
			height: 25px;
			background: #fff;
			outline: none;
			cursor: pointer;
			box-shadow: 0px 0px 1px 2px $svg-color;
			border-radius: 50%;
			z-index: 0;
			margin-top: -6.25px;
		}
		&::-webkit-slider-runnable-track {
			width: 100%;
			height: 1.4em;
			cursor: pointer;
			border-radius: 10px;
			border: 1px solid #333;
		}
		&::-moz-range-thumb {
			-moz-appearance: none;
			width: 25px;
			height: 25px;
			outline: none;
			background: #fff;
			cursor: pointer;
			box-shadow: 0px 0px 1px 2px $svg-color;
			border: transparent;
			border-radius: 50%;
			z-index: 0;
		}
		&::-moz-range-progress {
			height: 1.4em;
			background: white;
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
		}
		&::-moz-focus-outer {
			border: 0;
		}
		&::-moz-range-track {
			width: 100%;
			height: 1.4em;
			cursor: pointer;
			outline: none;
			background: rgba(0, 0, 0, 0);
			border-radius: 10px;
			border: 1px solid #333;
		}
		&::-moz-range-track:focus {
			outline: none;
		}
		&::-ms-thumb {
			-webkit-appearance: none;
			box-sizing: border-box;
			width: 25px;
			height: 25px;
			outline: none;
			background: #fff;
			cursor: pointer;
			box-shadow: 0px 0px 1px 1px $svg-color;
			border: 1px solid $svg-color;
			margin: -3px 0px 0px 0px;
			border-radius: 50%;
			z-index: 0;
		}
		&::-ms-track {
			width: 100%;
			height: 1.4em;
			cursor: pointer;
			background: transparent;
			border-color: transparent;
			color: transparent;
		}
		&::-ms-fill-lower {
			background: white;
			border: 1px solid #333;
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
		}
		&::-ms-fill-upper {
			background: rgba(0, 0, 0, 0.2);
			border: 1px solid #333;
			border-radius: 10px;
		}
		&::-ms-tooltip {
			display: none;
		}
		&:focus {
			outline: none;
			/* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
		}
	}
}

.ie-detected .slider__range {
	background-image: none;
	background: transparent;
	height: auto;
	min-height: 29px;
}

.ie-detected .volume .plus-minus-input {
	top: 0px;
}

.volume {
	z-index: 2;
}

.volume .plus-minus-input {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	width: calc(100% + 80px);
	height: 29px;
	left: -40px;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: -1;
	.input-group-button.minus {
		margin-left: auto;
	}
}

.volume .plus-minus-input .input-wrap {
	padding: 5px;
}

.volume .plus-minus-input .input-wrap .input-group-field {
	text-align: center;
	width: 20px;
	height: 15px;
	line-height: 15px;
	font-size: 1.2em;
	vertical-align: middle;
	border-radius: 5%;
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(black));
	background: linear-gradient(#333, black);
	border-bottom-color: rgba(0, 0, 0, 0);
	border-top-color: rgba(0, 0, 0, 0);
	color: white;
	margin: 5px;
	padding: 2px;
	border-style: double;
	-moz-appearance: textfield;
}

.input-group-button.plus,
.input-group-button.minus {
	margin: -5px;
}

.volume .plus-minus-input .input-wrap .input-group-field::-webkit-inner-spin-button,
.volume .plus-minus-input .input-wrap .input-group-field ::-webkit-outer-spin-button {
	-webkit-appearance: none;
	text-align: center;
	-webkit-box-flex: 0;
	flex: 0 0 auto;
}

.volume .plus-minus-input .input-group-button .button-wrap {
	display: block;
	height: 29px;
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(black));
	background: linear-gradient(#333, black);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.04);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.04);
	border-radius: 50%;
}

.volume .plus-minus-input .input-group-button .button-wrap .circle {
	position: relative;
	border-radius: 50%;
	padding: 12.5px;
	border-color: transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(rgba(0, 0, 0, 0.6)));
	background: linear-gradient(#333, rgba(0, 0, 0, 0.6));
	outline: none;
	border-bottom: 2px solid white;
	border-top: 2px solid white;
	outline: none;
}

.volume .plus-minus-input .input-group-button .button-wrap .circle:active {
	background: radial-gradient(rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.2));
}

.volume .plus-minus-input .input-group-button .button-wrap .circle svg {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

@media all and (max-aspect-ratio: 19/21) {
	.slider {
		margin-top: 0;
	}
}