@import "variables";
@import "mixins";
@import "textAnimation";
@import "slider";
@import "progressBar";
@include font-face('sketch', '../fonts/CabinSketch-Bold', normal, 500);
@include font-face('Italianno, cursive', '../fonts/Italianno-Regular', normal, 400);
html {
    height: 100%;
    box-sizing: border-box;
    font-family: "sketch", "Georgia", serif;
    margin: 0;
    font-size: 10px;
    line-height: 1;
    body {
        @extend html;
        background-color: rgba(41.5%, 53.7%, 95.5%, 0.17);
    }
}

.grid-container {
    display: grid;
    min-height: 100%;
    position: relative;
    grid-template-areas: "head" "main" "footer";
    grid-template-rows: 65px $main 65px;
    grid-template-columns: auto;
    overflow: hidden;
}

header {
    grid-area: head;
    background-color: rgba(0%, 0%, 0%, 0.1);
    z-index: 0;
    background-size: cover;
    overflow: hidden;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6);
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    max-width: 1600px;
}

.footer {
    display: none;
    grid-area: footer;
    background-color: rgba(0%, 0%, 0%, 0.1);
    background-size: cover;
    -webkit-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.6);
    box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.6);
    .footer-grid {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &.is--visible {
        display: flex;
    }
}

.fps {
    position: absolute;
    margin: 5px;
    font-size: 1.4em;
    right: 0;
    top: 65px;
    z-index: 1;
}

/*Menu*/

.btn-hamburger {
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    position: relative;
    cursor: pointer;
    grid-row: 1;
    padding: 3px;
}

.btn-hamburger:hover {
    transform: scale(1.15);
}

.navicon {
    width: 100%;
    fill: none;
    stroke: $svg-color;
    stroke-linecap: round;
    stroke-width: 25;
    display: block;
}

/*header letters appearing*/

.menu__header {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: space-between;
    align-items: center;
    .menu__about,
    .menu__work,
    .menu__contact {
        display: none;
        cursor: pointer;
        font-family: "sketch", "Georgia", serif;
        line-height: 61px;
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.005) 0%, rgba(75, 75, 75, 0.45) 100%);
        border-radius: 5px;
        @include responsive-font(5.2vw, 16px, 50px);
        &.is--visible {
            display: block;
        }
    }
    .menu__init {
        display: block;
        text-align: center;
        opacity: 0.85;
        margin: 0 auto;
        padding-right: 45px;
        @include responsive-font(5.2vw, 16px, 50px);
        &.is--invisible {
            display: none;
        }
    }
    .menu__home {
        display: none;
        cursor: pointer;
        font-family: "sketch", "Georgia", serif;
        line-height: 61px;
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.005) 0%, rgba(75, 75, 75, 0.45) 100%);
        border-radius: 5px;
        @include responsive-font(5.2vw, 16px, 50px);
    }
    p[class]>span {
        letter-spacing: -0.45px;
    }
    p[class]>span:last-child {
        padding-right: 10px;
    }
    p[class]>span:first-child {
        padding-left: 10px;
    }
}

.menu__header>p[class]:not(.menu__init):hover,
.menu__header>p[class]:not(.menu__init):focus,
    {
    text-shadow: -1px 0 rgba(255, 255, 255, 0.85), 0 1px rgba(255, 255, 255, 0.85), 1px 0 rgba(255, 255, 255, 0.85), 0 -1px rgba(255, 255, 255, 0.85);
    transform: scaleY(1.07);
    -webkit-transform: scaleY(1.07);
    -moz-transform: scaleY(1.07);
    -webkit-transition: text-shadow .3s ease;
    -moz-transition: text-shadow .3s ease;
    -o-transition: text-shadow .3s ease;
    transition: text-shadow .3s ease;
}

/*main section */

main {
    grid-area: main;
    display: grid;
    width: 100%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.touch {
    display: none;
    position: absolute;
    right: 0;
    top: 65px;
    margin: 5px;
    width: 3em;
    height: 3em;
}

.canvas-box {
    width: 100%;
    position: relative;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    z-index: 2;
}

figure {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#wrapperCanvas {
    display: grid;
    justify-content: center;
    position: absolute;
    width: 800px;
    height: 900px;
    align-items: end;
    background-image: url(../images/me-large.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    -ms-transform-origin: top right;
    -webkit-transform-origin: top right;
    transform-origin: top right;
    -webkit-transition: all 500ms ease-in-out !important;
    transition: all 500ms ease-in-out !important;
    #canvas {
        background-color: rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.6), 0 -8px 6px -6px rgba(255, 255, 255, 0.6), 8px 0px 6px -6px rgba(255, 255, 255, 0.6), -8px 0px 6px -6px rgba(255, 255, 255, 0.6);
        -moz-box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.6), 0 -8px 6px -6px rgba(255, 255, 255, 0.6), 8px 0px 6px -6px rgba(255, 255, 255, 0.6), -8px 0px 6px -6px rgba(255, 255, 255, 0.6);
        box-shadow: 0 8px 6px -6px rgba(255, 255, 255, 0.6), 0 -8px 6px -6px rgba(255, 255, 255, 0.6), 8px 0px 6px -6px rgba(255, 255, 255, 0.6), -8px 0px 6px -6px rgba(255, 255, 255, 0.6);
        border-radius: 50%;
        margin: 50px 70px 70px 0px;
        z-index: 1;
        image-rendering: optimizeSpeed;
    }
}

.canvasBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: 65px;
    z-index: -2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.svg-logo-one {
    grid-row: 1/4;
    grid-column: 1;
    width: 30%;
    display: grid;
    padding: 5px 0;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
}

.svg-logo-two {
    grid-row: 1/4;
    grid-column: 3;
    justify-self: end;
    margin-left: auto;
    width: 30%;
    display: grid;
    justify-content: center;
    padding: 5px 0;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
}

.svg-logo-one div,
.svg-logo-two div {
    position: relative;
    display: flex;
    display: -webkit-box;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
}

.svg-logo-two div:nth-child(2) svg {
    width: 160%;
    position: relative;
    left: -30%;
}

.svg-logo-one>div:nth-child(2)>svg {
    position: relative;
    width: 120%;
    right: 10%;
}

.svg-logo-one>div:nth-child(3)>svg {
    position: relative;
    width: 88.4%;
}

.svg-logo-one div svg,
.svg-logo-two div svg {
    height: auto;
    max-height: 100%;
}

.about {
    display: none;
    flex-direction: column;
    grid-row: 1 / 4;
    grid-column: 1 / 4;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
}

article {
    max-width: 100%;
    font-size: 5.2vmin;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
    grid-row: 1;
    grid-column: 1/4;
}

article p {
    margin: 0px;
    margin-top: 25px;
}

#animationWindow {
    width: 100%;
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    height: 100%;
    position: relative;
}

#animationWindow>svg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

/* flipbook */

.book {
    display: none;
    width: 100%;
    position: relative;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    transition: 1s ease-in-out;
}

.bookWrap {
    width: 100%;
    position: absolute;
    height: 75%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#flipbook {
    position: absolute;
    width: 960px;
    height: 600px;
    top: 0;
    bottom: 0;
    -ms-transform-origin: top right;
    -webkit-transform-origin: top right;
    transform-origin: top right;
    -webkit-transition: all 500ms ease-in-out !important;
    transition: all 500ms ease-in-out !important;
}

.align {
    position: relative;
    -webkit-transition: all 0.3s linear;
    /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.3s linear;
    /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

.sj-book {
    position: absolute;
    width: 960px;
    height: 600px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.animated {
    -webkit-transition: margin-left 0.2s ease-in-out;
    -moz-transition: margin-left 0.2s ease-in-out;
    -o-transition: margin-left 0.2s ease-in-out;
    -ms-transition: margin-left 0.2s ease-in-out;
    transition: margin-left 0.2s ease-in-out;
}

.sj-book .shadow {
    -webkit-transition: -webkit-box-shadow 0.5s;
    -moz-transition: -moz-box-shadow 0.5s;
    -o-transition: -webkit-box-shadow 0.5s;
    -ms-transition: -ms-box-shadow 0.5s;
    -webkit-box-shadow: 0 0 10px #999;
    -moz-box-shadow: 0 0 10px #999;
    -ms-box-shadow: 0 0 10px #999;
    -o-box-shadow: 0 0 10px #999;
    box-shadow: 0 0 10px #999;
}

.sj-book .page {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.sj-book div.hard.page.p1.odd {
    background-image: url(../images/book-page-1.jpg);
    background-size: contain;
    background-position: center;
}

.sj-book div.hard.front-side.page.p2.even {
    background-image: url(../images/book-page-2.jpg);
    background-size: contain;
    background-position: center;
}

.sj-book div .hard.front-side.p5 {
    background-image: url(../images/book-page-3.jpg);
    background-size: contain;
    background-position: center;
}

.sj-book div .hard.p6.page.even {
    background-image: url(../images/book-page-4.jpg);
    background-size: contain;
    background-position: center;
}

.sj-book .p1,
.sj-book .p2,
.sj-book .p3,
.sj-book .p4,
.sj-book .p5,
.sj-book .p6,
    {
    background-color: white;
}

.sj-book .p1 {
    background-position: 0 0;
}

.sj-book .p1 .side {
    width: 5px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 475px;
    background-image: linear-gradient(to left, #bbb, #ddd, #bbb);
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -o-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    z-index: 100000;
}

.sj-book-transform div[page="1"]>div,
.sj-book-transform div[page="2"]>div {
    overflow: visible !important;
}

.sj-book .depth {
    position: absolute;
    top: 10px;
    width: 25px;
    height: 590px;
}

.sj-book .front-side .depth {
    left: 4px;
    background-position: 0 0;
}

.sj-book .back-side .depth {
    right: 4px;
    background-position: right 0;
}

.sj-book .page-wrapper {
    -webkit-perspective: 2000px;
    -moz-perspective: 2000px;
    -ms-perspective: 2000px;
    perspective: 2000px;
}

.sj-book .own-size {
    width: 460px;
    height: 582px;
    background-color: white;
    overflow: hidden;
}

.sj-book .even {
    background-image: linear-gradient(to left, #dadada, #fff 6%, #fff 6%, #fff 94%, #dadada 98%);
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.25);
}

.sj-book .odd {
    background-image: linear-gradient(to left, #dadada, #fff 6%, #fff 6%, #fff 94%, #dadada 98%);
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.25);
}

.sj-book .loader {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 280px;
    left: 219px;
}

.sj-book .loader.loaded {
    display: none;
}

.sj-book .page-number {
    color: #999;
    width: 100%;
    bottom: 25px;
    position: absolute;
    display: block;
    text-align: center;
    line-height: 30px;
    font-size: 11px;
}

.sj-book .table-contents {
    font-size: 16px;
    width: 300px;
    margin: 80px auto;
    color: #ccc;
}

.sj-book .table-contents li {
    list-style: none;
    line-height: 25px;
}

.sj-book .table-contents span {
    float: right;
}

.sj-book .table-contents a {
    float: left;
    width: 100%;
    clear: both;
    text-decoration: none;
    color: #333;
    margin: 2px 0;
    padding: 0 10px;
}

.sj-book .table-contents a:hover {
    background: #CAD1EE;
    float: left;
    width: 100%;
    clear: both;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

.sj-book .book-content .capital,
.sj-book .book-content .no-indent {
    text-indent: 0;
}

.sj-book .capital:first-letter {
    display: block;
    float: left;
    font-size: 300%;
    line-height: 70%;
    margin-right: 6px;
    margin-top: 7px;
    margin-left: 18px;
}

/*contact form*/

.containerForm {
    display: none;
    width: 100%;
    position: relative;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    transition: 1s ease-in-out;
}

.envelope {
    width: 90%;
    position: absolute;
    height: 80%;
    top: 50%;
    left: 50%;
    font-family: 'Italianno, cursive';
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    letter-spacing: 1.4px;
}

#wrap {
    width: 530px;
    height: 650px;
    overflow: hidden;
    position: absolute;
    -ms-transform-origin: top right;
    -webkit-transform-origin: top right;
    transform-origin: top right;
    -webkit-transition: all 500ms ease-in-out !important;
    transition: all 500ms ease-in-out !important;
}

#form_wrap {
    height: 446px;
    position: relative;
    top: 0px;
    -webkit-transition: all 1s ease-in-out .3s;
    -moz-transition: all 1s ease-in-out .3s;
    -o-transition: all 1s ease-in-out .3s;
    transition: all 1s ease-in-out .3s;
}

#form_wrap:before {
    content: "";
    position: absolute;
    bottom: 128px;
    left: 0px;
    background: url('../images/before.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 316px;
}

#form_wrap:after {
    content: "";
    position: absolute;
    bottom: -60px;
    left: 0;
    background: url('../images/after.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 320px;
}

#form_wrap.hide:after,
#form_wrap.hide:before {
    display: none;
}

#form_wrap:hover {
    height: 790px;
    top: -190px;
}

form {
    background: #f7f2ec url('../images/letter_bg.png');
    position: relative;
    top: 190px;
    overflow: hidden;
    height: 200px;
    width: 400px;
    margin: 0px auto;
    padding: 5px 25px 45px 25px;
    border: 1px solid #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
    -moz-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 14px #fff;
    -webkit-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
    -webkit-transition: all 1s ease-in-out .3s;
    -moz-transition: all 1s ease-in-out .3s;
    -o-transition: all 1s ease-in-out .3s;
    transition: all 1s ease-in-out .3s;
    p {
        font-size: 3.8em;
        margin: 5px 0px 15px 0px;
    }
}

#form_wrap:hover form {
    height: 430px;
}

label {
    font-size: 1.9em;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px #fff;
    position: relative;
    top: -2px;
}

#contactForm .error {
    border-color: red;
}

#name-error,
#email-error {
    color: red;
    float: right;
    position: relative;
    top: -63px;
    right: 0px;
    margin: 0;
}

#name,
input[type=text],
input[type=email],
textarea {
    font: 14px normal normal uppercase helvetica, arial, serif;
    color: #7c7873;
    background: none;
    outline: none;
    width: 100%;
    min-height: 28px;
    max-height: 56px;
    margin: 0 0 10px 0;
    border: 1px solid #f8f5f1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 1px black;
}

textarea {
    width: 98.8%;
    height: 90px;
    resize: vertical;
    margin: 0;
}

#name:focus,
textarea:focus,
input[type=text]:focus,
input[type=email]:focus {
    background: #fff;
    color: #000;
}

#form_wrap input[type=submit] {
    outline: none;
    position: absolute;
    font-size: 3.4em;
    font-family: 'Italianno, cursive';
    color: rgba(0, 0, 0, 0.3);
    width: 89%;
    text-align: center;
    opacity: 0;
    bottom: 89px;
    height: 45px;
    padding-top: 2px;
    background: none;
    cursor: pointer;
    border-radius: 15px;
    -webkit-transition: opacity .5s ease-in-out 0s;
    -moz-transition: opacity .5s ease-in-out 0s;
    -o-transition: opacity .5s ease-in-out 0s;
    transition: opacity .5s ease-in-out 0s;
}

#form_wrap:hover input[type=submit] {
    z-index: 1;
    opacity: 1;
    -webkit-transition: opacity .5s ease-in-out 1s;
    -moz-transition: opacity .5s ease-in-out 1s;
    -o-transition: opacity .5s ease-in-out 1s;
    transition: opacity .5s ease-in-out 1s;
}

#form_wrap:hover input:hover[type=submit] {
    color: #435c70;
}

/*footer*/

footer .wrapper {
    padding: 4px 0;
}

.svgIcons {
    display: grid;
    grid-row: 1;
    max-width: 45px;
    max-height: 45px;
    padding: 6px;
}

.svgIcons svg:hover,
.svgIcons svg:focus {
    stroke: #fff;
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
}

/* preloader */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    bottom: -74.64px;
    z-index: 1000;
    &.is--invisible {
        display: none;
    }
    .font-preload {
        font-family: 'Italianno, cursive';
        font-size: 0;
    }
    #loader {
        display: block;
        position: relative;
        left: 50%;
        top: 45%;
        width: 150px;
        height: 150px;
        margin: -85px 0 0 -85px;
        border-radius: 50%;
        border: 5px solid rgba(255%, 255%, 255%, 0.1);
        box-shadow: 5px 5px 5px 5px rgba(255%, 255%, 255%, 0.25);
        -moz-box-shadow: inset 5px 5px 5px 5px rgba(255%, 255%, 255%, 0.25);
        -webkit-box-shadow: inset 5px 5px 5px 5px rgba(255%, 255%, 255%, 0.25);
        -webkit-animation: spin 2.5s linear infinite;
        /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 2.5s linear infinite;
        /* Chrome, Firefox 16+, IE 10+, Opera */
        z-index: 1001;
        &.is--invisible {
            display: none;
        }
        &:before {
            content: "";
            position: absolute;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
            border-radius: 50%;
            border: 5px solid rgba(255%, 255%, 255%, 0.6);
            border-top-color: rgba(255%, 255%, 255%, 0.6);
            box-shadow: 5px 5px 5px 5px rgba(255%, 255%, 255%, 0.6);
            -moz-box-shadow: 5px 5px 5px 5px rgba(255%, 255%, 255%, 0.6);
            -webkit-box-shadow: 5px 5px 5px 5px rgba(255%, 255%, 255%, 0.6);
            -webkit-animation: spin 3s linear infinite;
            /* Chrome, Opera 15+, Safari 5+ */
            animation: spin 3s linear infinite;
            /* Chrome, Firefox 16+, IE 10+, Opera */
        }
        &:after {
            content: "";
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border-radius: 50%;
            border: 3px solid rgba(255%, 255%, 255%, 0.9);
            -moz-box-shadow: 5px 10px 5px 6px rgba(255%, 255%, 255%, 0.65);
            -webkit-box-shadow: 5px 10px 5px 6px rgba(255%, 255%, 255%, 0.65);
            box-shadow: 5px 10px 5px 6px rgba(255%, 255%, 255%, 0.65);
            -webkit-animation: spin 1.5s linear infinite;
            /* Chrome, Opera 15+, Safari 5+ */
            animation: spin 1.5s linear infinite;
            /* Chrome, Firefox 16+, IE 10+, Opera */
        }
    }
}

.entry-header {
    text-align: center;
    color: rgba(255%, 255%, 255%, 0.8);
    text-shadow: 0 0 5px rgba(255%, 255%, 255%, 0.6), 0 0 5px rgba(255%, 255%, 255%, 0.6);
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    z-index: 10001;
    .entry-title {
        font-family: "Georgia", serif;
        font-size: 2.5rem;
        color: rgba(255%, 255%, 255%, 0.65);
        position: relative;
        top: 50px;
        text-shadow: 0 0 6px rgba(255%, 255%, 255%, 0.55), 0 0 6px rgba(255%, 255%, 255%, 0.55);
        &.is--invisible {
            display: none;
        }
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222;
    z-index: 1000;
    &.section-left {
        left: 0;
        &.is--invisible {
            visibility: visible;
            width: 0%;
            height: calc(100% + 65px);
            left: 0;
            border: 1px solid #222;
            -webkit-transform: translateX(-50%);
            /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-50%);
            /* IE 9 */
            transform: translateX(-50%);
            -webkit-transition: all 0.7s linear 0.3s;
            /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.7s linear 0.3s;
            /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
            &.is--closing {
                width: 100%;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                transform: translateX(-50%);
            }
            &.is--opening {
                -webkit-transform: translateX(-100%);
                -moz-transform: translateX(-100%);
                transform: translateX(-100%);
            }
        }
    }
    &.section-right {
        right: 0;
        &.is--invisible {
            visibility: visible;
            width: 0%;
            height: calc(100% + 65px);
            right: 0;
            border: 1px solid #222;
            -webkit-transform: translateX(50%);
            /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(50%);
            /* IE 9 */
            transform: translateX(50%);
            -webkit-transition: all 0.7s linear 0.3s;
            /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.7s linear 0.3s;
            /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
        }
        &.is--closing {
            width: 100%;
            -webkit-transform: translateX(50%);
            -moz-transform: translateX(50%);
            transform: translateX(50%);
        }
        &.is--opening {
            -webkit-transform: translateX(100%);
            -moz-transform: translateX(100%);
            transform: translateX(100%);
        }
    }
}

.is--visible #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.3s ease-out;
    /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

.is--visible #loader-wrapper {
    visibility: hidden;
}

#content {
    margin: 0 auto;
    padding-bottom: 50px;
    width: 80%;
    max-width: 978px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links for images, or javascript/internal links
     */
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
        /* h5bp.com/t */
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}

.no-js #loader-wrapper {
    display: none;
}

/* media queries */

@media all and (min-width: 1600px) {
    article {
        font-size: 50px;
    }
}

@media all and (max-width: 767px) and (min-width: 577px) {
    .menu__header {
        .menu__init {
            padding: 0px;
        }
    }
    .btn-hamburger {
        padding: 0px;
    }
    .btn-hamburger:hover {
        transform: none;
    }
    .form-is--scaled {
        transform: scale(1.1);
    }
    .svgIcons svg:hover,
    .svgIcons svg:focus {
        stroke: none;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
    }
    .svgIcons svg:active {
        stroke: #fff;
        transform: scale(1.07);
        -webkit-transform: scale(1.07);
        -moz-transform: scale(1.07);
    }
    .menu__header>p[class]:not(.menu__init):hover,
    .menu__header>p[class]:not(.menu__init):focus {
        text-shadow: -0.5px 0 rgba(255, 255, 255, 0.85), 0 0.5px rgba(255, 255, 255, 0.85), 0.5px 0 rgba(255, 255, 255, 0.85), 0 -0.5px rgba(255, 255, 255, 0.85);
    }
    .fps {
        font-size: 1.3em;
    }
}

@media all and (max-width: 576px) {
    .menu__header {
        .menu__init {
            line-height: 26px;
            padding: 0;
        }
        .menu__home {
            line-height: 61px;
            border-radius: 5px;
        }
        p[class]>span {
            letter-spacing: -0.45px;
        }
        p[class]>span:last-child {
            padding-right: 5px;
        }
        p[class]>span:first-child {
            padding-left: 5px;
        }
    }
    .btn-hamburger {
        padding: 0px;
    }
    .btn-hamburger:hover {
        transform: none;
    }
    .form-is--scaled {
        transform: scale(1.1);
    }
    .svgIcons svg:hover,
    .svgIcons svg:focus {
        stroke: none;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
    }
    .svgIcons svg:active {
        stroke: #fff;
        transform: scale(1.07);
        -webkit-transform: scale(1.07);
        -moz-transform: scale(1.07);
    }
    .menu__header>p[class]:not(.menu__init):hover,
    .menu__header>p[class]:not(.menu__init):focus {
        text-shadow: -0.5px 0 rgba(255, 255, 255, 0.85), 0 0.5px rgba(255, 255, 255, 0.85), 0.5px 0 rgba(255, 255, 255, 0.85), 0 -0.5px rgba(255, 255, 255, 0.85);
    }
    .fps {
        font-size: 1.2em;
    }
}

@media all and (max-aspect-ratio: 19/21) {
    .svg-logo-one {
        grid-row: 1;
        grid-column: 1 / 4;
        height: 40%;
        width: 100%;
        margin-top: 10px;
        position: relative;
        grid-template-rows: 1fr;
        grid-template-columns: 15% 15% 15%;
        grid-gap: 25%;
        align-items: center;
    }
    .svg-logo-two {
        grid-column: 1 / 4;
        margin-bottom: 10px;
        width: 100%;
        height: 40%;
        position: relative;
        grid-template-columns: 15% 15% 15%;
        grid-template-rows: 1fr;
        grid-gap: 25%;
        align-items: end;
        align-self: end;
    }

    .svg-logo-one div,.svg-logo-two div {
        justify-content: flex-end;
    }

    .svg-logo-one>div:nth-child(2) {
        right: 0%;
        width: 103%;
    }
    .svg-logo-one>div:nth-child(2)>svg {
        margin-top: 25%;
    }
    .svg-logo-two>div:nth-child(2) {
        right: 0%;
        width: 101%;
    }
    .align.resized {
        transform: scale(1.2);
    }
}

@media all and (max-aspect-ratio: 21/19) and (min-aspect-ratio: 19/21) {
    article {
        line-height: 1.1;
    }
}

@media all and (max-aspect-ratio: 23/19) and (min-aspect-ratio: 19/23) {
.canvas-box {
    transform: scale(.9);
}
}