@import "normalize";
@import "variables";
@import "mixins";
@import "textAnimation";
@import "slider";
@import "progressBar";
@include font-face('Pangolin', '../fonts/Pangolin-Regular', normal, normal);
@include font-face('Open Sans', '../fonts/opensans-regular', normal, normal);
html {
    height: 100%;
    box-sizing: border-box;
    font-family: 'Pangolin', cursive;
    font-weight: normal;
    margin: 0;
    font-size: 10px;
    line-height: 1;
    body {
        @extend html;
        background: $text-color;
        width: 100%;
        min-height: 100%;
        z-index: -2;
        color: $text-color;
    }
}

.grid-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.desktop .grid-container {
    height: calc(100vh + 65px);
}

.desktop #main {
    height: $portrait;
}

@media all and (orientation: landscape) {
    .mobile #main {
        height: $landscape;
    }
    .tablet #main {
        height: $landscape;
    }
}

@media all and (orientation: portrait) {
    .mobile #main {
        height: $portrait;
    }
    .tablet #main {
        height: $portrait;
    }
}

header {
    flex-shrink: 0;
    z-index: 999;
    width: 100%;
    height: 65px;
    min-height: 65px;
    max-height: 65px;
    background-color: #fff;
    z-index: 0;
    background-size: cover;
    overflow: hidden;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6);
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    max-width: 1600px;
}

.footer {
    visibility: hidden;
    display: flex;
    width: 100%;
    height: 65px;
    min-height: 65px;
    max-height: 65px;
    flex-shrink: 0;
    z-index: 999;
    background-color: #fff;
    background-size: cover;
    overflow: hidden;
    -webkit-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.6);
    box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.6);
    .footer-grid {
        display: flex;
        /* NEW, Spec - Firefox, Chrome, Opera */
        justify-content: space-between;
        align-items: center;
    }
    &.is--visible {
        visibility: visible;
        /* NEW, Spec - Firefox, Chrome, Opera */
    }
}

.fps {
    position: absolute;
    margin: 5px;
    font-size: 1.8em;
    right: 0;
    top: 65px;
    z-index: 1;
}

/*header menu*/

.btn-hamburger {
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    max-width: 45px;
    max-height: 45px;
    position: relative;
    cursor: pointer;
    margin: 6px;
}

.navicon {
    display: block;
    width: 100%;
    height: 45px;
    max-height: 45px;
    fill: $svg-color;
    stroke: $svg-color;
}

.navicon__arrow {
    display: none;
    width: 100%;
    height: 45px;
    max-height: 45px;
    stroke-width: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    fill: $svg-color;
    stroke: $svg-color;
}

.is--active .navicon__arrow {
    display: block;
}

.is--active .navicon {
    display: none;
}

.navicon:focus,
.navicon:hover,
.navicon__arrow:focus,
.navicon__arrow:hover {
    stroke: #fff;
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    box-sizing: border-box;
}

/*header letters appearing*/

.menu__header {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: space-between;
    align-items: center;
    .menu__about,
    .menu__work,
    .menu__contact {
        display: none;
        cursor: pointer;
        line-height: 61px;
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.005) 0%, rgba(75, 75, 75, 0.45) 100%);
        border-radius: 5px;
        @include responsive-font(3vw, 24px, 48px);
        padding: 0px 5px;
        margin-right: 6px;
    }
    .menu__init {
        display: block;
        text-align: center;
        opacity: 0.85;
        margin: 0 auto;
        padding-right: 51px;
        @include responsive-font(3vw, 24px, 48px);
    }
    .menu__home {
        display: none;
        cursor: pointer;
        line-height: 61px;
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.005) 0%, rgba(75, 75, 75, 0.45) 100%);
        border-radius: 5px;
        margin-left: 6px;
        padding: 0px 5px;
        @include responsive-font(3vw, 24px, 48px);
    }
}

.menu__about span,
.menu__work span,
.menu__contact span {
    will-change: opacity;
}

.is--active .menu__init {
    display: none;
}

.is--active .menu__about,
.is--active .menu__work,
.is--active .menu__contact {
    display: flex;
}

.menu__header>p[class]:not(.menu__init):hover,
.menu__header>p[class]:not(.menu__init):focus {
    text-shadow: -1px 0 rgba(255, 255, 255, 0.85), 0 1px rgba(255, 255, 255, 0.85), 1px 0 rgba(255, 255, 255, 0.85), 0 -1px rgba(255, 255, 255, 0.85);
    transform: scaleY(1.07);
    -webkit-transform: scaleY(1.07);
    -moz-transform: scaleY(1.07);
    -webkit-transition: text-shadow .3s ease;
    -moz-transition: text-shadow .3s ease;
    -o-transition: text-shadow .3s ease;
    transition: text-shadow .3s ease;
}

/*main section */

#main {
    display: flex;
    margin: 0 auto;
    flex-grow: 1;
    width: 90%;
    max-width: 1600px;
    height: 100%;
}

.touch {
    display: none;
    position: absolute;
    right: 0;
    top: 65px;
    margin: 5px;
    width: 3em;
    height: 3em;
}

.canvasBackground {
    width: 100%;
    height: calc(100% - 150px);
    padding: 65px 0px;
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #333;
    background-size: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

figure {
    width: 50%;
    position: absolute;
    height: calc(100% - 130px);
    top: 50%;
    left: 50%;
    margin: 0 auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.canvas-box {
    flex-basis: 60%;
    height: 100%;
    flex-grow: 1;
    z-index: 2;
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
    .canvas-box__wrapper {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 800px;
        height: 900px;
        align-items: flex-end;
        -ms-transform-origin: top right;
        -webkit-transform-origin: top right;
        transform-origin: top right;
        -webkit-transition: all 500ms linear;
        -moz-transition: all 500ms linear;
        -o-transition: all 500ms linear;
        transition: all 500ms linear;
        img {
            position: absolute;
            height: 90%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
        #canvas {
            background-color: #fff;
            border: 1px solid #333;
            border-radius: 50%;
            margin: 50px 12.5px 270px 0px;
            z-index: 1;
            image-rendering: optimizeSpeed;
        }
        .text-animation-wrap {
            position: relative;
            .text-animation {
                position: absolute;
                z-index: 999;
                font-size: 5.2em;
                margin: 0;
                padding: 0;
                width: 295px;
                height: 295px;
                border-radius: 50%;
                bottom: 270px;
                right: 10px;
                left: 0;
                overflow: hidden;
                text-align: center;
                .text-d {
                    visibility: hidden;
                    position: absolute;
                    top: 105px;
                    left: 39px;
                    font-size: 1.31em;
                    &.is-visible {
                        visibility: visible;
                    }
                }
                .text-e {
                    visibility: hidden;
                    position: absolute;
                    top: 105px;
                    left: 83px;
                    font-size: 1.31em;
                    &.is-visible {
                        visibility: visible;
                    }
                }
                .text-s {
                    visibility: hidden;
                    position: absolute;
                    top: 105px;
                    left: 120px;
                    font-size: 1.31em;
                    &.is-visible {
                        visibility: visible;
                    }
                }
                .text-i {
                    visibility: hidden;
                    position: absolute;
                    top: 105px;
                    left: 159px;
                    font-size: 1.31em;
                    &.is-visible {
                        visibility: visible;
                    }
                }
                .text-g {
                    visibility: hidden;
                    position: absolute;
                    top: 105px;
                    left: 176px;
                    font-size: 1.31em;
                    &.is-visible {
                        visibility: visible;
                    }
                }
                .text-n {
                    visibility: hidden;
                    position: absolute;
                    top: 105px;
                    left: 213px;
                    font-size: 1.31em;
                    &.is-visible {
                        visibility: visible;
                    }
                }
                svg {
                    width: 600px;
                    height: 400px;
                    position: relative;
                    left: -150px;
                    top: -65px;
                    -webkit-transform: translate3d(0, 0, 0);
                    -moz-transform: translate3d(0, 0, 0);
                    -o-transform: translate3d(0, 0, 0);
                    -ms-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
                    border: 1px solid #333;
                    path {
                        fill: none;
                        stroke-width: 2px;
                        stroke-linecap: round;
                        stroke: #333;
                        stroke-dashoffset: 0px;
                        stroke-dasharray: 0px 1180px;
                    }
                    path.d-1 {
                        stroke-dasharray: 22px 1180px;
                    }
                    path.d-2 {
                        stroke-dasharray: 38px 1180px;
                    }
                    path.e-1 {
                        stroke-dasharray: 14px 1180px;
                    }
                    path.e-2 {
                        stroke-dasharray: 40px 1180px;
                    }
                    path.s-1 {
                        stroke-dasharray: 38px 1180px;
                    }
                    path.i-1 {
                        stroke-dasharray: 0.2px 1180px;
                    }
                    path.i-2 {
                        stroke-dasharray: 16px 1180px;
                    }
                    path.g-1 {
                        stroke-dasharray: 12px 1180px;
                    }
                    path.g-2 {
                        stroke-dasharray: 44px 1180px;
                    }
                    path.n-1 {
                        stroke-dasharray: 16px 1180px;
                    }
                    path.n-2 {
                        stroke-dasharray: 29px 1180px;
                    }
                }
            }
        }
    }
}

.wf-inactive .text-animation {
    display: none;
}

.wf-active .text-animation--error {
    display: none;
}

.wf--error .text-animation {
    display: none;
}

.wf--error .text-animation--error {
    font-family: 'Pangolin', cursive;
    position: absolute;
    z-index: 999;
    font-size: 5.8em;
    margin: 0;
    padding: 0;
    bottom: 390px;
    right: 0px;
    left: -10px;
    text-align: center;
}

.wf-inactive .text-animation--error {
    position: absolute;
    z-index: 999;
    font-size: 5.8em;
    margin: 0;
    padding: 0;
    bottom: 390px;
    right: 0px;
    left: -10px;
    text-align: center;
}

.svg-logo-one div svg,
.svg-logo-two div svg {
    width: 100%;
    margin: 0 auto;
}

.svg-logo-one {
    flex-basis: 20%;
    height: 100%;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px 0px 25px 0px;
    align-items: flex-start;
    z-index: -1;
    box-sizing: border-box;
}

.svg-logo-two {
    margin-left: auto;
    flex-basis: 20%;
    height: 100%;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px 0px 25px 0px;
    align-items: flex-end;
    z-index: -1;
    box-sizing: border-box;
}

.svg-logo-one div,
.svg-logo-two div {
    display: flex;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    position: relative;
    flex-direction: column;
    width: 60%;
    text-align: center;
    justify-content: center;
    max-height: 33.3333%;
}

.svg-logo-one>div:nth-child(1),
.svg-logo-two>div:nth-child(1) {
    justify-content: flex-start;
}

.svg-logo-one>div:nth-child(3),
.svg-logo-two>div:nth-child(3) {
    justify-content: flex-end;
}

.svg-logo-one>div:nth-child(1) {
    margin: 0px 0px auto auto;
}

.svg-logo-one>div:nth-child(2) {
    margin: 0px 0px auto 0px;
}

.svg-logo-two>div:nth-child(1) {
    margin: 0px auto auto 0px;
}

.svg-logo-two>div:nth-child(2) {
    margin: 0px 0px auto 0px;
}

.svg-logo-one>div:nth-child(3) {
    margin-left: auto;
}

.svg-logo-two>div:nth-child(3) {
    margin-right: auto;
}

main .svg-logo-one div .bar-before,
main .svg-logo-two div .bar-before {
    flex: 0 1 auto;
    min-height: 23px;
    margin: 2px 0px;
    width: 100%;
}

.svg-logo-one>div:nth-child(2)>svg {
    position: relative;
    width: 117.4%;
    right: 8.7%;
}

.svg-logo-two div:nth-child(2) svg {
    width: 160%;
    position: relative;
    left: -30%;
}

.svg-logo-one>div:nth-child(3)>svg {
    position: relative;
    width: 100%;
}

.svg-logo-two>div:nth-child(1)>svg {
    width: 100%;
}

.svg-logo-two>div:nth-child(3)>svg {
    width: 100%;
}

.svg-logo-one div svg,
.svg-logo-two div svg {
    height: auto;
}

.about {
    display: none;
    flex: 1;
    flex-direction: column;
}

article {
    max-width: 100%;
    @include responsive-font(3vw, 24px, 48px);
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
}

article p {
    margin: 0px;
    margin-top: 15px;
}

#animationWindow {
    width: 100%;
    flex-grow: 1;
    height: 100%;
    position: relative;
}

#animationWindow>svg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

/* flipbook */

.book {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
    flex-grow: 1;
    padding: 5% 0%;
    flex-direction: column;
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
}

.book__wrap {
    width: 100%;
    position: relative;
    height: 75%;
    flex: 4;
    margin: auto;
    margin-bottom: 0;
    z-index: 2;
}

#flipbook {
    position: absolute;
    width: 960px;
    height: 600px;
    top: 0;
    bottom: 0;
    -ms-transform-origin: top right;
    -webkit-transform-origin: top right;
    transform-origin: top right;
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
}

.align {
    position: relative;
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
}

.sj-book {
    position: absolute;
    width: 960px;
    height: 600px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.animated {
    -webkit-transition: margin-left 0.2s ease-in-out;
    -moz-transition: margin-left 0.2s ease-in-out;
    -o-transition: margin-left 0.2s ease-in-out;
    -ms-transition: margin-left 0.2s ease-in-out;
    transition: margin-left 0.2s ease-in-out;
}

.sj-book .shadow {
    -webkit-transition: -webkit-box-shadow 0.5s;
    -moz-transition: -moz-box-shadow 0.5s;
    -o-transition: -webkit-box-shadow 0.5s;
    -ms-transition: -ms-box-shadow 0.5s;
    -webkit-box-shadow: 0 0 10px #999;
    -moz-box-shadow: 0 0 10px #999;
    -ms-box-shadow: 0 0 10px #999;
    -o-box-shadow: 0 0 10px #999;
    box-shadow: 0 0 10px #999;
}

.hard.front-side h1 {
    font-size: 52px;
    font-weight: normal;
    text-align: right;
    position: relative;
    margin: 0.5em 0px;
    right: 2px;
}

.hard.p3.own-size h1 {
    font-size: 52px;
    font-weight: normal;
    text-align: left;
    position: relative;
    margin: 0.5em 0px;
    top: -9px;
    left: 2px;
}

.hard.p4.own-size.page.even h1 {
    font-size: 52px;
    font-weight: normal;
    text-align: right;
    position: relative;
    margin: 0.325em 0px 0.5em 0px;
    right: 2px;
}

.page.odd h1 {
    font-size: 52px;
    font-weight: normal;
    text-align: left;
    position: relative;
    margin: 0.5em 0px;
    top: -9px;
    left: 2px;
}

.hard.p6.own-size.page.even h1 {
    font-size: 52px;
    font-weight: normal;
    text-align: left;
    position: relative;
    text-align: center;
    margin: 0.325em 40px 0.5em 40px
}

.hard.p6.own-size.page.even a {
    cursor: pointer;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 99;
}

.hard.p6.own-size.page.even a:-moz-focusring {
    outline: none;
}

.sj-book .book-browser-support {
    font-family: 'Pangolin', cursive;
    margin: -9px 40px 0px 20px;
    text-align: center;
    th {
        font-size: 52px;
        font-weight: normal;
        border: 1px solid #333;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        padding: 5px;
    }
    td {
        @extend th;
        svg {
            width: 53px;
            max-height: 59.84px;
            vertical-align: middle;
            margin: 0 auto;
        }
    }
    td:nth-child(1) {
        position: relative;
        padding: 0;
        width: 55px;
        height: 40px;
    }
}

.sj-book .page-speed-tools {
    font-family: 'Pangolin', cursive;
    text-align: center;
    padding-left: 20px;
    margin: 0px 20px 0px 40px;
    th {
        border: 1px solid #333;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        font-size: 52px;
        font-weight: normal;
        padding: 5px;
    }
    td {
        @extend th;
    }
    tr:nth-child(3) {
        color: green;
    }
    tfoot {
        td {
            position: relative;
            height: 52px;
            padding: 3px;
            svg {
                max-width: 60.48px;
                height: 54px;
                vertical-align: middle;
                margin: 0 auto;
            }
        }
        td:nth-child(2) {
            padding: 0px;
            svg {
                max-width: 69.44px;
                height: 62px;
            }
        }
    }
}

.sj-book .hard.p4.own-size.page.even .page-speed-tools {
    margin: 0px 20px;
}

.sj-book .book-browser-icons span svg {
    width: 45px;
    height: 45px;
}

.sj-book .page {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.sj-book div.hard.page.p1.odd {
    background-image: url(../images/book-page-1.jpg);
    background-size: contain;
    background-position: center;
}

.sj-book div.hard.front-side.page.p2.even {
    background-image: url(../images/book-page-2.jpg);
    background-size: contain;
    background-position: center;
}

.sj-book div .hard.front-side.p7 {
    background-image: url(../images/book-page-3.jpg);
    background-size: contain;
    background-position: center;
}

.sj-book div .hard.p8.page.even {
    background-image: url(../images/book-page-4.jpg);
    background-size: contain;
    background-position: center;
}

.sj-book .p1,
.sj-book .p2,
.sj-book .p3,
.sj-book .p4,
.sj-book .p5,
.sj-book .p6,
    {
    background-color: white;
}

.sj-book .p1 {
    background-position: 0 0;
}

.sj-book .p1 .side {
    width: 5px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 475px;
    background-image: linear-gradient(to left, #bbb, #ddd, #bbb);
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -o-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    z-index: 100000;
}

.sj-book-transform div[page="1"]>div,
.sj-book-transform div[page="2"]>div {
    overflow: visible !important;
}

.sj-book .depth {
    position: absolute;
    top: 10px;
    width: 25px;
    height: 590px;
}

.sj-book .front-side .depth {
    left: 4px;
    background-position: 0 0;
}

.sj-book .back-side .depth {
    right: 4px;
    background-position: right 0;
}

.sj-book .page-wrapper {
    -webkit-perspective: 2000px;
    -moz-perspective: 2000px;
    -ms-perspective: 2000px;
    perspective: 2000px;
}

.sj-book .own-size {
    width: 460px;
    height: 582px;
    background-color: white;
    overflow: hidden;
}

.sj-book .even {
    background-image: linear-gradient(to left, #dadada, #fff 6%, #fff 6%, #fff 94%, #dadada 98%);
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.25);
}

.sj-book .odd {
    background-image: linear-gradient(to left, #dadada, #fff 6%, #fff 6%, #fff 94%, #dadada 98%);
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.25);
}

.sj-book .loader {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 280px;
    left: 219px;
}

.sj-book .loader.loaded {
    display: none;
}

.sj-book .page-number {
    color: #999;
    width: 100%;
    bottom: 25px;
    position: absolute;
    display: block;
    text-align: center;
    line-height: 30px;
    font-size: 11px;
}

.sj-book .table-contents {
    font-size: 16px;
    width: 300px;
    margin: 80px auto;
    color: #ccc;
}

.sj-book .table-contents li {
    list-style: none;
    line-height: 25px;
}

.sj-book .table-contents span {
    float: right;
}

.sj-book .table-contents a {
    float: left;
    width: 100%;
    clear: both;
    text-decoration: none;
    color: #333;
    margin: 2px 0;
    padding: 0 10px;
}

.sj-book .table-contents a:hover {
    background: #CAD1EE;
    float: left;
    width: 100%;
    clear: both;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

/*contact form*/

.envelope-container {
    display: none;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    position: relative;
    transition: 1s ease-in-out;
    z-index: 1;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.envelope {
    width: 90%;
    position: absolute;
    height: 80%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    letter-spacing: 1.4px;
}

#wrap {
    width: 530px;
    height: 650px;
    position: absolute;
    overflow: hidden;
    -ms-transform-origin: top right;
    -webkit-transform-origin: top right;
    transform-origin: top right;
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
}

#form_wrap {
    height: 446px;
    position: relative;
    top: 0px;
    -webkit-transition: all 1s ease-in-out .3s;
    -moz-transition: all 1s ease-in-out .3s;
    -o-transition: all 1s ease-in-out .3s;
    transition: all 1s ease-in-out .3s;
}

#form_wrap:before {
    content: "";
    position: absolute;
    bottom: 128px;
    left: 0px;
    background: url('../images/before.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 316px;
}

#form_wrap:after {
    content: "";
    position: absolute;
    bottom: -60px;
    left: 0;
    background: url('../images/after.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 320px;
}

#form_wrap.hide:after,
#form_wrap.hide:before {
    display: none;
}

#form_wrap:hover {
    height: 790px;
    top: -190px;
}

form {
    background: #f7f2ec url('../images/letter_bg.png');
    position: relative;
    top: 190px;
    overflow: hidden;
    height: 200px;
    width: 400px;
    margin: 0px auto;
    padding: 0px 25px 45px 25px;
    border: 1px solid #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
    -moz-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 14px #fff;
    -webkit-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
    -webkit-transition: all 1s ease-in-out .3s;
    -moz-transition: all 1s ease-in-out .3s;
    -o-transition: all 1s ease-in-out .3s;
    transition: all 1s ease-in-out .3s;
}

#form_wrap:hover form {
    height: 430px;
}

label {
    display: block;
    font-size: 3.2em;
    text-shadow: 0px 1px 0px #fff;
    position: relative;
    padding: 1px 0px;
}

#form .error {
    border-color: red;
}

#name-error,
#email-error {
    display: block;
    font-size: 3.2em;
    color: red;
    position: relative;
    text-align: start;
    margin: 0;
}

#name,
input[type=text],
input[type=email],
textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.8em;
    line-height: 1.35;
    color: #7c7873;
    background: none;
    outline: none;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    border: 1px solid #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 1px #333;
}

textarea {
    resize: vertical;
}

#name:focus,
textarea:focus,
input[type=text]:focus,
input[type=email]:focus {
    background: #fff;
    color: #333;
}

#form_wrap input[type=submit] {
    display: block;
    outline: none;
    position: absolute;
    font-size: 3.2em;
    border: 1px solid #333;
    color: #333;
    font-family: 'Pangolin', cursive;
    width: 89%;
    text-align: center;
    opacity: 0;
    bottom: 89px;
    background: none;
    cursor: pointer;
    box-shadow: inset 0px 0px 1px #333;
    border-radius: 5px;
    -webkit-transition: opacity .5s ease-in-out 0s;
    -moz-transition: opacity .5s ease-in-out 0s;
    -o-transition: opacity .5s ease-in-out 0s;
    transition: opacity .5s ease-in-out 0s;
}

#form_wrap:hover input[type=submit] {
    z-index: 1;
    opacity: 1;
    -webkit-transition: opacity .5s ease-in-out 1s;
    -moz-transition: opacity .5s ease-in-out 1s;
    -o-transition: opacity .5s ease-in-out 1s;
    transition: opacity .5s ease-in-out 1s;
}

/*footer*/

footer .wrapper {
    padding: 6px 0;
}

.svgIcons {
    width: 45px;
    height: 45px;
    max-width: 45px;
    max-height: 45px;
    padding: 6px;
}

.svgIcons svg:hover,
.svgIcons svg:focus {
    stroke: #fff;
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    box-sizing: border-box;
}

/* preloader */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

#loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    z-index: 1000;
    &.is--invisible {
        display: none;
    }
    #loader {
        visibility: hidden;
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        width: 150px;
        height: 150px;
        margin: -85px 0 0 -85px;
        border-radius: 50%;
        border: 5px solid rgba(255%, 255%, 255%, 0.1);
        box-shadow: 5px 5px 5px 5px rgba(255%, 255%, 255%, 0.25);
        -moz-box-shadow: inset 5px 5px 5px 5px rgba(255%, 255%, 255%, 0.25);
        -webkit-box-shadow: inset 5px 5px 5px 5px rgba(255%, 255%, 255%, 0.25);
        -webkit-animation: spin 2.5s linear infinite;
        /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 2.5s linear infinite;
        /* Chrome, Firefox 16+, IE 10+, Opera */
        z-index: 1001;
        &.is--invisible {
            display: none;
        }
        &:before {
            content: "";
            position: absolute;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
            border-radius: 50%;
            border: 5px solid rgba(255%, 255%, 255%, 0.6);
            border-top-color: rgba(255%, 255%, 255%, 0.6);
            box-shadow: 5px 5px 5px 5px rgba(255%, 255%, 255%, 0.6);
            -moz-box-shadow: 5px 5px 5px 5px rgba(255%, 255%, 255%, 0.6);
            -webkit-box-shadow: 5px 5px 5px 5px rgba(255%, 255%, 255%, 0.6);
            -webkit-animation: spin 3s linear infinite;
            /* Chrome, Opera 15+, Safari 5+ */
            animation: spin 3s linear infinite;
            /* Chrome, Firefox 16+, IE 10+, Opera */
        }
        &:after {
            content: "";
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border-radius: 50%;
            border: 3px solid rgba(255%, 255%, 255%, 0.9);
            -moz-box-shadow: 5px 10px 5px 6px rgba(255%, 255%, 255%, 0.65);
            -webkit-box-shadow: 5px 10px 5px 6px rgba(255%, 255%, 255%, 0.65);
            box-shadow: 5px 10px 5px 6px rgba(255%, 255%, 255%, 0.65);
            -webkit-animation: spin 1.5s linear infinite;
            /* Chrome, Opera 15+, Safari 5+ */
            animation: spin 1.5s linear infinite;
            /* Chrome, Firefox 16+, IE 10+, Opera */
        }
    }
}

.mobile {
    #loader-wrapper {
        #loader {
            visibility: visible;
        }
    }
}

.tablet {
    #loader-wrapper {
        #loader {
            visibility: visible;
        }
    }
}

.desktop {
    #loader-wrapper {
        #loader {
            visibility: visible;
        }
    }
}

.wf-active {
    .entry-header {
        .entry-title {
            visibility: visible;
        }
    }
}

.wf-inactive {
    .entry-header {
        .entry-title {
            visibility: visible;
        }
    }
}

.entry-header {
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    z-index: 10001;
    .entry-title {
        visibility: hidden;
        font-family: 'Pangolin', cursive;
        @include responsive-font(3vw,
        24px,
        48px);
        color: rgb(51, 51, 51);
        position: relative;
        &.is--invisible {
            display: none;
        }
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    background: #333;
    height: 100%;
    min-height: 100%;
    z-index: 1000;
    &.section-left {
        left: 0;
        &.is--invisible {
            visibility: visible;
            width: 0%;
            left: 0;
            height: 100%;
            min-height: 100%;
            border-right: 1px solid #333;
            -webkit-transform: translateX(-50%);
            /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-50%);
            /* IE 9 */
            transform: translateX(-50%);
            -webkit-transition: all 0.7s linear 0.3s;
            /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.7s linear 0.3s;
            /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
            &.is--closing {
                width: 100%;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                transform: translateX(-50%);
            }
            &.is--opening {
                -webkit-transform: translateX(-100%);
                -moz-transform: translateX(-100%);
                transform: translateX(-100%);
            }
        }
    }
    &.section-right {
        right: 0;
        &.is--invisible {
            visibility: visible;
            width: 0%;
            right: 0;
            height: 100%;
            min-height: 100%;
            border-left: 1px solid #333;
            -webkit-transform: translateX(50%);
            /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(50%);
            /* IE 9 */
            transform: translateX(50%);
            -webkit-transition: all 0.7s linear 0.3s;
            /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
            transition: all 0.7s linear 0.3s;
            /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
        }
        &.is--closing {
            width: 100%;
            -webkit-transform: translateX(50%);
            -moz-transform: translateX(50%);
            transform: translateX(50%);
        }
        &.is--opening {
            -webkit-transform: translateX(100%);
            -moz-transform: translateX(100%);
            transform: translateX(100%);
        }
    }
}

.is--visible #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.3s ease-out;
    /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

.is--visible #loader-wrapper {
    visibility: hidden;
}

#content {
    margin: 0 auto;
    padding-bottom: 50px;
    width: 80%;
    max-width: 978px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links for images, or javascript/internal links
     */
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
        /* h5bp.com/t */
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}

.no-js #loader-wrapper {
    display: none;
}

.browser-support {
    font-size: 130%;
    line-height: 1.3;
    position: absolute;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.browser-support h1,
h2,
h3 {
    font-family: "Times New Roman", Times, serif;
    font-family: 'Pangolin', cursive;
}

.browser-icons {
    position: absolute;
    width: 90%;
    height: 50%;
    overflow: visible;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    text-align: center
}

.browser-support div {
    display: inline-block;
    padding: 15px;
}

.browser-support svg {
    width: 45px;
    max-width: 45px;
    height: 45px;
    max-height: 45px;
}

/* media queries */

@media (min-width: 768px) and (max-width: 1024px) {
    .svg-logo-one div,
    .svg-logo-two div {
        width: 80%;
        flex-basis: 80%;
    }
}

@media all and (max-width: 767px) and (min-width: 577px) {
    .entry-header {
        .entry-title {
            @include responsive-font(3.2vw,
            20px,
            24px);
        }
    }
    .navicon:focus,
    .navicon:hover,
    .navicon__arrow:focus,
    .navicon__arrow:hover {
        stroke: none;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
    }
    .navicon:active,
    .navicon__arrow:active {
        stroke: #fff;
        transform: scale(1.07);
        -webkit-transform: scale(1.07);
        -moz-transform: scale(1.07);
    }
    .menu__header {
        .menu__init {
            padding: 0px;
            @include responsive-font(3.2vw,
            20px,
            24px);
        }
        .menu__about,
        .menu__work,
        .menu__contact {
            @include responsive-font(3.2vw,
            20px,
            24px);
        }
        .menu__home {
            @include responsive-font(3.2vw,
            20px,
            24px);
        }
    }
    article {
        @include responsive-font(3.2vw,
        20px,
        24px);
    }
    .btn-hamburger {
        padding: 0px;
    }
    .btn-hamburger:hover {
        transform: none;
    }
    .form-is--scaled {
        transform: scale(1.1);
    }
    .svgIcons svg:hover,
    .svgIcons svg:focus {
        stroke: none;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
    }
    .svgIcons svg:active {
        stroke: #fff;
        transform: scale(1.07);
        -webkit-transform: scale(1.07);
        -moz-transform: scale(1.07);
    }
    .fps {
        font-size: 1.6em;
    }
    .menu__header>p[class]:not(.menu__init):hover,
    .menu__header>p[class]:not(.menu__init):focus {
        text-shadow: initial;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
    }
    .menu__header>p[class]:not(.menu__init):active {
        text-shadow: -1px 0 rgba(255, 255, 255, 0.85), 0 1px rgba(255, 255, 255, 0.85), 1px 0 rgba(255, 255, 255, 0.85), 0 -1px rgba(255, 255, 255, 0.85);
        transform: scaleY(1.07);
        -webkit-transform: scaleY(1.07);
        -moz-transform: scaleY(1.07);
        -webkit-transition: text-shadow .3s ease;
        -moz-transition: text-shadow .3s ease;
        -o-transition: text-shadow .3s ease;
        transition: text-shadow .3s ease;
    }
}

@media all and (max-width: 576px) {
    .entry-header {
        .entry-title {
            @include responsive-font(4.8vw,
            18px,
            22px);
        }
    }
    article {
        @include responsive-font(4.8vw,
        18px,
        22px);
    }
    .menu__header>p[class]:not(.menu__init):hover,
    .menu__header>p[class]:not(.menu__init):focus {
        text-shadow: initial;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
    }
    .menu__header>p[class]:not(.menu__init):active {
        text-shadow: -1px 0 rgba(255, 255, 255, 0.85), 0 1px rgba(255, 255, 255, 0.85), 1px 0 rgba(255, 255, 255, 0.85), 0 -1px rgba(255, 255, 255, 0.85);
        transform: scaleY(1.07);
        -webkit-transform: scaleY(1.07);
        -moz-transform: scaleY(1.07);
        -webkit-transition: text-shadow .3s ease;
        -moz-transition: text-shadow .3s ease;
        -o-transition: text-shadow .3s ease;
        transition: text-shadow .3s ease;
    }
    .navicon:focus,
    .navicon:hover,
    .navicon__arrow:focus,
    .navicon__arrow:hover {
        stroke: none;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
    }
    .navicon:active,
    .navicon__arrow:active {
        stroke: #fff;
        transform: scale(1.07);
        -webkit-transform: scale(1.07);
        -moz-transform: scale(1.07);
    }
    .menu__header {
        .menu__init {
            line-height: 32px;
            padding: 0;
            @include responsive-font(4.8vw,
            18px,
            22px);
        }
        .menu__home {
            line-height: 61px;
            border-radius: 5px;
            @include responsive-font(4.8vw,
            18px,
            22px);
        }
        .menu__about,
        .menu__work,
        .menu__contact {
            @include responsive-font(4.8vw,
            18px,
            22px);
        }
    }
    .btn-hamburger {
        padding: 0px;
    }
    .btn-hamburger:hover {
        transform: none;
    }
    .form-is--scaled {
        transform: scale(1.1);
    }
    .svgIcons svg:hover,
    .svgIcons svg:focus {
        stroke: none;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
    }
    .svgIcons svg:active {
        stroke: #fff;
        transform: scale(1.07);
        -webkit-transform: scale(1.07);
        -moz-transform: scale(1.07);
    }
    .fps {
        font-size: 1.4em;
    }
}

@media all and (max-aspect-ratio: 19/21) {
    .canvas-box {
        flex: 6;
        width: 100%;
    }
    #main {
        flex-direction: column;
    }
    figure {
        width: 90%;
        height: 50%;
    }
    .book__wrap {
        width: 120%;
        left: -10%;
    }
    .align.resized {
        transform: scale(0.85);
    }
    .svg-logo-one {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex: 2;
        width: 100%;
        padding: 10px 0px 0px 0px;
        position: relative;
        align-items: flex-start;
    }
    .svg-logo-two {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex: 2;
        padding: 0px;
        margin-top: auto;
        padding: 0px 0px 10px 0px;
        width: 100%;
        position: relative;
        align-items: flex-end;
    }
    .svg-logo-one div,
    .svg-logo-two div {
        flex: 0 1 20%;
        height: 100%;
        max-height: 100%;
    }
    .svg-logo-one div {
        justify-content: flex-start;
    }
    .svg-logo-two div {
        justify-content: flex-end;
    }
    main .svg-logo-one div .bar-before,
    main .svg-logo-two div .bar-before {
        width: 100%
    }
    .svg-logo-one>div svg {
        order: 3;
    }
    main .svg-logo-one div .bar-before {
        order: 2;
    }
    .svg-logo-one>div:nth-child(1) {
        padding-top: 15px;
        margin: 0;
        justify-content: flex-start;
    }
    .svg-logo-one>div:nth-child(3) {
        padding-top: 15px;
        margin: 0;
        justify-content: flex-start;
    }
    .svg-logo-two>div:nth-child(1) {
        padding-bottom: 15px;
        margin: 0;
        justify-content: flex-end;
    }
    .svg-logo-two>div:nth-child(3) {
        padding-bottom: 15px;
        margin: 0;
    }
    .svg-logo-one>div:nth-child(2) {
        margin: 0;
    }
    .svg-logo-two>div:nth-child(2) {
        margin: 0;
        justify-content: flex-end;
    }
}
